.admin-create-lecturer .header {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: rgb(102, 212, 195);
    width: 100%;
    border-bottom: 2px solid rgb(178, 226, 219);
}

.admin-create-lecturer *:focus {
    outline: none;
    box-shadow: 0 0 0 2pt rgb(50, 150, 200);
}

.admin-create-lecturer .container {
    width: 100%;
}

.admin-create-lecturer td {
    color: black;
}

.admin-create-lecturer .create-lecturer-input {
    display: block;
    margin: 10px auto;
    border: 0;
    background-color: white;
    width: 100%;
    height: 20px;
    padding: 5px 20px;
    border-radius: 100px;
    border: 2px solid rgb(102, 212, 195);
    font-size: 14px;
    margin-left: 15px;
}

.admin-create-lecturer .create-lecturer-input-failed {
    box-shadow: 0 0 0 2pt rgb(255, 100, 100) !important;
}

.admin-create-lecturer .btn-next {
    border: 0;
    background-color: rgb(119, 234, 219);
    color: white;
    width: 80px;
    height: 34px;
    border-radius: 100px;
    font-size: 16px;
    float: right;
}

.admin-create-lecturer .btn-back {
    border: 0;
    background-color: rgb(119, 234, 219);
    color: white;
    width: 80px;
    height: 34px;
    border-radius: 100px;
    font-size: 16px;
    float: left;
}

.admin-create-lecturer .course-select {
    width: 100%;
}

.admin-create-lecturer .course-select-column {
    width: 50%;
    padding: 5px 10px;
}

.admin-create-lecturer .course-select-input {
    width: 80%;
    border: 0;
    background-color: white;
    height: 20px;
    padding: 5px 20px;
    border-radius: 100px;
    border: 2px solid rgb(102, 212, 195);
    font-size: 14px;
}

.admin-create-lecturer .course-select-dropdown {
    border-bottom: 2px solid rgb(102, 212, 195);
    padding: 5px 0;
}

.admin-create-lecturer .btn-course-search {
    display: block;
    border: 0;
    background-color: rgb(119, 234, 219);
    color: white;
    width: 80px;
    height: 34px;
    border-radius: 100px;
    font-size: 16px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 10px;
}

.admin-create-lecturer .courses-table-wrapper {
    max-height: 40vh;
    overflow-y: auto;
    margin-bottom: 20px;
    width: 100%;
}

.admin-create-lecturer .courses-table {
    width: 100%;
}

.admin-create-lecturer .courses-table-left {
    width: 100%;
}

.admin-create-lecturer .lecturer-label {
    font-weight: bold;
    margin: 5px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(102, 212, 195);
}

.admin-create-lecturer .detail-row {
    width: 100%;
    text-align: right;
    margin-bottom: 15px;
}