.tutor-profile-update {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index: 0;
    background-color: rgb(154, 212, 203);
    padding-top: 50px;
}

.tutor-profile-update .container {
    padding: 40px 60px;
}

.tutor-profile-update *:focus {
    outline: none;
    box-shadow: 0 0 0 2pt rgb(50, 150, 200);
}

.tutor-profile-update .header {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    width: 100%;
    border-bottom: 2px solid rgb(178, 226, 219);
}

.tutor-profile-update .register-input {
    display: block;
    margin: 30px auto;
    border: 0;
    background-color: white;
    width: 300px;
    height: 30px;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 16px;
}
.tutor-profile-update .register-input-failed, .register-input-password-failed {
    box-shadow: 0 0 0 2pt rgb(255, 100, 100) !important;
}

.tutor-profile-update .btn-register {
    border: 0;
    background-color: rgb(119, 234, 219);
    color: white;
    width: 360px;
    height: 50px;
    border-radius: 100px;
    font-size: 16px;
    margin-bottom: 40px;
}

.tutor-profile-update .register-action {
    padding: 20px;
    width: 320px;
    margin: 0 auto;
    border-radius: 100px;
}
 
.tutor-profile-update .register-action:hover {
    background-color: rgb(110, 223, 207);
}

.tutor-profile-update .message {
    font-size: 30px;
}

.tutor-profile-update .btn-group {
    margin-top: 30px;
}

.tutor-profile-update .btn-save {
    border: 0;
    background-color: rgb(119, 234, 219);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    font-size: 16px;
    margin: 20px;
    margin-right: 35px;
}

.tutor-profile-update .btn-save-disabled {
    border: 0;
    background-color: rgb(180, 180, 180);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    font-size: 16px;
    margin: 20px;
    margin-right: 35px;
    pointer-events: none;
}

.tutor-profile-update .btn-cancel {
    border: 0;
    background-color: rgb(255, 100, 100);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    font-size: 16px;
    margin: 20px;
    margin-left: 35px;
}

.tutor-profile-update .detail-table {
    margin: 0 auto;
    height: 550px;
    text-align: left;
}
.tutor-profile-update .column-1 {
    width: 30vw;
    height: 100%;
}
.tutor-profile-update .column-2 {
    width: 60vw;
    height: 100%;
}

.tutor-profile-update .detail-title {
    font-size: 30px;
    font-family: 'Staatliches', cursive;
}

.tutor-profile-update .tutor-detail-wrapper {
    width: 100%;
    height: 512px;
    overflow: auto;
}

.tutor-profile-update .register-input-2 {
    display: block;
    margin: 10px;
    border: 0;
    background-color: white;
    width: 300px;
    height: 30px;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 16px;
}

.tutor-profile-update .detail-subtitle {
    font-size: 24px;
}

.tutor-profile-update .upload-table {
    width: 100%;
}
.tutor-profile-update .upload-column-1 {
    width: 20%;
    border-right: 1px solid rgb(119, 234, 219);
}
.tutor-profile-update .upload-column-2 {
    width: 80%;
}

.tutor-profile-update .add-te {
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
}
.tutor-profile-update .add-te:hover {
    background-color: rgb(110, 223, 207);
}

.tutor-profile-update .tutoring-experience {
    border-bottom: 2px solid rgb(119, 234, 219);
    border-top: 2px solid rgb(119, 234, 219);
    width: 100%;
    padding: 10px 0;
}

.tutor-profile-update .right-column-table {
    height: 100%;

}

.tutor-profile-update .right-column-table td{
    padding: 5px 20px;
}

.tutor-profile-update .btn-remove {
    border: 0;
    background-color: rgb(255, 100, 100);
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 100px;
    font-size: 16px;
    float: right;
}
.tutor-profile-update .btn-remove:hover {
    background-color: rgb(255, 133, 133);
}

.tutor-profile-update .btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}