.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(102, 212, 195);
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar *:focus {
    outline: none;
}

.navbar .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 81px;
    font-size: 28px;
    font-family: 'Pacifico', 'cursive';
}

.navbar .navigation {
    float: right;
    margin-right: 100px;
    height: 50px;
    display: flex;
}

.navbar .navigation-item-profile {
    height: 50px;
}
.navbar .navigation-item-profile-clickable {
    height: 50px;
}
.navbar .navigation-item-profile-clickable:hover {
    background-color: rgb(110, 223, 207);
    cursor: pointer;
}

.navbar .navigation-dp {
    padding: 5px 5px 0 10px;
}

.navbar .dp {
    height: 30px;
    width: 30px;
}

.navbar .navigation-name {
    font-size: 16px;
    padding-right: 10px;
}

.navbar .navigation-item {
    font-size: 16px;
    padding: 13px 10px 21px 10px;
}
.navbar .navigation-item:hover {
    background-color: rgb(110, 223, 207);
    cursor: pointer;
}

.navbar .divider {
    border: 1px solid rgb(110, 223, 207);
    height: 28px;
    margin: 10px 0;
}

.navbar .logout {
    float: left;
    margin-left: 60px;
    height: 50px;
}

.navbar .navigation-item-logout {
    font-size: 16px;
    padding: 13px 10px 15px 10px;
}
.navbar .navigation-item-logout:hover {
    background-color: rgb(110, 223, 207);
}

.navbar .navigation-item-2 {
    font-size: 16px;
    padding: 13px 15px 21px 15px;
}
.navbar .navigation-item-2:hover {
    cursor: pointer;
}

.navbar .notification {
    color: rgb(178, 226, 219);
}
.navbar .notification-alert {
    color: red;
}