.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(102, 212, 195);
    position: absolute;
    top: 0;
    z-index: 1;
}

.navbar *:focus {
    outline: none;
}

.navbar .logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 81px;
    font-size: 28px;
    font-family: 'Pacifico', 'cursive';
    color: white;
}

.navbar .navigation {
    float: right;
    margin-right: 100px;
    height: 50px;
    display: flex;
}

.navbar .navigation-item-profile {
    height: 50px;
}
.navbar .navigation-item-profile-clickable {
    height: 50px;
}
.navbar .navigation-item-profile-clickable:hover {
    background-color: rgb(110, 223, 207);
}

.navbar .navigation-dp {
    padding: 5px 5px 0 10px;
}

.navbar .dp {
    height: 30px;
    width: 30px;
}

.navbar .navigation-name {
    font-size: 16px;
    color: white;
    padding-right: 10px;
}

.navbar .navigation-item {
    font-size: 16px;
    padding: 13px 10px 21px 10px;
    color: white;
}
.navbar .navigation-item:hover {
    background-color: rgb(110, 223, 207);
}

.navbar .divider {
    border: 1px solid rgb(110, 223, 207);
    height: 28px;
    margin: 10px 0;
}