.tutor-apply-application {
    max-height: 90vh;
    overflow-y: auto;
}

.tutor-apply-application *:focus {
    outline: none;
    box-shadow: 0 0 0 2pt rgb(50, 150, 200);
}

.tutor-apply-application .header {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: rgb(102, 212, 195);
    width: 100%;
    border-bottom: 2px solid rgb(178, 226, 219);
}

.tutor-apply-application .header-2 {
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: rgb(102, 212, 195);
    width: 100%;
    border-bottom: 2px solid rgb(178, 226, 219);
    margin: 15px 0 5px 0;
}

.tutor-apply-application .tutor-apply-label {
    font-weight: bold;
    margin: 5px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(102, 212, 195);
}

.tutor-apply-application .tutor-apply-label-2 {
    font-weight: bold;
    margin: 5px 0;
    display: block;
    width: 100%;
}

.tutor-apply-application .detail-row {
    width: 100%;
    text-align: right;
    margin-bottom: 5px; 
}

.tutor-apply-application .detail-row-2 {
    width: 100%;
    text-align: right;
    margin-bottom: 15px;
}
.tutor-apply-application .detail-row-3 {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.tutor-apply-application textarea {
    resize: vertical;
    width: 98%;
    height: 70px;
}

.tutor-apply-application .btn-wrapper {
    width: 100%;
    text-align: center;
}

.tutor-apply-application .btn-submit {
    border: 0;
    background-color: rgb(119, 234, 219);
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 100px;
    font-size: 16px;
    margin: 10px;
}
.tutor-apply-application .btn-submit:hover {
    background-color: rgb(110, 223, 207);
}