<div class="register-details">
    <div class="container" *ngIf="detailsStep==1">
        <div class="logo">Tutora</div>
        <div class="message">
            Welcome to Tutora, soon-to-be tutor!<br><br>
            You can fill out your personal and tutor<br>
            details now, or later from your profile,<br>
            but you will not be able to apply for<br>
            tutor positions until you do so.<br>
        </div>
        <div class="btn-group">
            <button class="btn-skip" routerLink="/login">DO IT LATER</button>
            <button class="btn-continue" (click)="detailsStep=2">DO IT NOW</button>
        </div>
    </div>

    <div class="container" *ngIf="detailsStep==2">
        <div class="logo">Tutora</div>
        <table class="detail-table">
            <tr>
                <td class="column-1" valign="top">
                    <div class="detail-title">Personal Details</div>
                    <input onfocus="(this.type='date')" class="register-input-2" placeholder="Date of birth">
                    <input type="number" class="register-input-2" placeholder="Mobile">
                    <input type="text" class="register-input-2" placeholder="Address">
                    <div class="detail-title">Course Details</div>
                    <input type="text" class="register-input-2" placeholder="Degree">
                    <input type="number" class="register-input-2" placeholder="Expected year of completion">
                    <input type="number" class="register-input-2" placeholder="UOC completed">
                    <input type="number" class="register-input-2" placeholder="Weighted average mark (WAM)">
                </td>
                <td class="column-2" valign="top">
                    <div class="detail-title">Tutor Details</div>
                    <div class="tutor-detail-wrapper">
                        <div class="detail-subtitle">Curriculum Vitae</div>
                        <table class="upload-table"> <tr>
                            <td class="upload-column-1" valign="top">Please upload your curriculum vitae here:</td>
                            <td class="upload-column-2" valign="top"><upload uploadType="cv"></upload></td>
                        </tr> </table>
                        <br>
                        <div class="detail-subtitle">Tutoring Experience</div>
                        <span style="color:white">Please submit details of each course you have tutored in the past.</span>
                        <div class="tutoring-experience" *ngFor="let i of tutExp">
                            <upload uploadType="me"></upload>
                        </div>
                        <div class="add-te" (click)="tutExp.push(1)">+ Add course</div>
                    </div>
                </td>
            </tr>
        </table>
        <button [ngClass]="activeUploads==0 ? 'btn-save' : 'btn-save-disabled'" (click)="register(email.value, name.value, password.value)">SAVE DETAILS</button>
    </div>
</div>