.admin-home {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index: 0;
    background-color: rgb(154, 212, 203);
    padding-top: 50px;
}

.admin-home *:focus {
    outline: none;
    box-shadow: 0 0 0 2pt rgb(50, 150, 200);
}

.admin-home .container {
    padding: 40px 60px;
}

.admin-home .header {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    width: 100%;
    border-bottom: 2px solid rgb(178, 226, 219);
}

.admin-home .content-table {
    width: 100%;
}

.admin-home .lecturer-table, .focus-window {
    width: 50%;
}

.admin-home .table-action-bar {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.admin-home .table-filter {
    display: block;
    border: 0;
    background-color: rgb(192, 235, 228);
    width: 100%;
    height: 28px;
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 16px;
    margin-bottom: 10px;
}

.admin-home .btn-add {
    display: block;
    border: 0;
    background-color: rgb(119, 234, 219);
    color: white;
    width: 250px;
    height: 38px;
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.admin-home .table-actual {
    width: 100%;
    background-color: rgb(154, 212, 203);
}

.admin-home .mat-header-row {
    height: 30px;
}
.admin-home .mat-cell {
    font-size: 16px;
}
.admin-home .mat-header-cell {
    color: white;
    font-size: 18px;
    border-bottom: 2px solid white;
}

.admin-home .mat-row:nth-child(odd){
    background-color: rgb(170, 230, 224);
}
.admin-home .mat-row:nth-child(even){
    background-color: rgb(114, 214, 204);
}
.admin-home .mat-row:hover {
    outline: 1px solid white;
}

.admin-home .highlight {
    background: rgb(3, 218, 198) !important;
    outline: 1px solid white;
}

.admin-home .focus-window {
    
}