<div class="admin-home">
    <div class="container">
        <div class="header">
            My Lecturers
        </div>
        <br>
        <div class="table-action-bar">
            <input type=text class="table-filter" (keyup)="applyFilter($event.target.value)" placeholder="Search lecturers">
            <button class="btn-add" (click)="openCreateLecturerDialog()">Add Lecturer</button>
        </div>
        <table class="content-table"> <tr>
            <td class="lecturer-table">
                <table mat-table [dataSource]="dataSource" class="table-actual">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let lecturer"> {{lecturer.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let lecturer"> {{lecturer.email}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
                    [ngClass]="{'highlight': selectedRowIndex == i}"
                    (click)="highlight(i)"></tr>
                </table>
            </td>
            <td class="focus-window">
                <div class="header-2">
                    Courses
                    <button [ngClass]="selectedRowIndex>-1 ? 'btn-edit' : 'btn-edit-disabled'" (click)="edit()"><i class="fas fa-edit"></i>&nbsp;EDIT COURSES</button>
                </div>
                <div *ngIf="selectedRowIndex>-1">
                    <div *ngFor="let course of lecturers[selectedRowIndex].courseLinks" class="course-container">
                        <label class="admin-label">Course:</label>
                        <div class="detail-row">{{course.course}}</div>
                        <label class="admin-label">Name:</label>
                        <div class="detail-row">{{course.courseName}}</div>
                    </div>
                </div>
            </td>
        </tr> </table>
    </div>
</div>