<div class="admin-edit">
    <div class="container" *ngIf="editStep==2">
        <div class="header">
            Edit lecturer - {{lecturer.name}}
        </div>
        Select courses to unassign from {{lecturer.name}}<br><br>
        <div class="courses-table-wrapper">
            <table class="courses-table">
                <tr *ngFor="let course of lecturer.courseLinks; let i = index;">
                    <td class="courses-table-left">{{course.course}} {{course.courseName}}</td>
                    <td><input type="checkbox" [(ngModel)]="courseChecksRemove[i]"></td>
                </tr>
            </table>
        </div>
        <button class="btn-next" (click)="submitStep2()">Next</button>
    </div>
    <div class="container" *ngIf="editStep==3">
        <div class="header">
            Edit lecturer - {{lecturer.name}}
        </div>
        Search for courses to assign to {{lecturer.name}}.
        (Note: You can only add courses from one term at a time. Please edit again to add more.)
        <table class="course-select">
            <tr>
                <td class="course-select-column">Faculty Code:</td>
                <td class="course-select-column">Term:</td>
            </tr>
            <tr>
                <td class="course-select-column">
                    <input type="text" placeholder="e.g. ACCT, INFS, PSYC" class="course-select-input" #faculty>
                </td>
                <td class="course-select-column">
                    <mat-select [(value)]="term" placeholder="Please select a term" class="course-select-dropdown">
                        <mat-option value="U1">Summer</mat-option>
                        <mat-option value="T1">Term 1</mat-option>
                        <mat-option value="T2">Term 2</mat-option>
                        <mat-option value="T3">Term 3</mat-option>
                    </mat-select>    
                </td>
            </tr>
        </table>
        <button class="btn-course-search" (click)="searchCourses(faculty.value)">Search</button>
        Results (Data retrieved from <a href="http://classutil.unsw.edu.au/">http://classutil.unsw.edu.au/</a>):<br><br>
        <div *ngIf="searchState=='initial'">Please search for a course<br><br></div>
        <div *ngIf="searchState=='searching'">Searching...<br><br></div>
        <div *ngIf="searchState=='notfound'">No courses found, please try another search<br><br></div>
        <div *ngIf="searchState=='error'">Error, please try another search<br><br></div>
        <div class="courses-table-wrapper" *ngIf="searchState=='found'">
            <table class="courses-table">
                <tr *ngFor="let course of courses; let i = index;">
                    <td class="courses-table-left">{{course}}</td>
                    <td><input type="checkbox" [(ngModel)]="courseChecks[i]"></td>
                </tr>
            </table>
        </div>
        <button class="btn-back" (click)="editStep=2">Back</button>
        <button class="btn-next" (click)="submitStep3()">Next</button>
    </div>
    <div class="container" *ngIf="editStep==4">
        <div class="header">
            Edit lecturer - {{lecturer.name}}
        </div>
        Please confirm the following edited details.<br>
        <label class="lecturer-label">Courses to Remove</label>
        <div class="detail-row" *ngFor="let course of removeCourses">
            {{course.course}} {{course.courseName}}
        </div>
        <label class="lecturer-label">Courses to Add</label>
        <div class="detail-row" *ngFor="let course of selectedCourses">
            {{course}}
        </div>
        <button class="btn-back" (click)="editStep=3">Back</button>
        <button class="btn-next" (click)="updateLecturer()" mat-dialog-close>Update</button>
    </div>
</div>