<div class="login">
    <div class="container">
        <div class="logo">Tutora</div>
        <input type="text" class="login-input" #email placeholder="Email"
            [ngClass]="loginStatus=='failed' ? 'login-input-failed' : ''"
            (keyup.enter)="login(email.value, password.value)">
        <input type="password" class="login-input" #password placeholder="Password"
            [ngClass]="loginStatus=='failed' ? 'login-input-failed' : ''"
            (keyup.enter)="login(email.value, password.value)">
        <button class="btn-login" (click)="login(email.value, password.value)">SIGN IN</button>
        <div class="login-action-1" tabindex=0>FORGOT PASSWORD?</div>
        <div class="login-action-2" routerLink="/register">SIGN UP</div>
    </div>
</div>