<div class="lecturer-course-assign">
    <div class="header">{{data.class.course}} - {{data.class.type}} {{data.class.session}}</div>
    <label class="lecturer-assign-label">ID:</label>
    <div class="detail-row">{{data.class.id}}</div>
    <label class="lecturer-assign-label">Time/Location:</label>
    <div class="detail-row">{{data.class.details}}</div>
    <label class="lecturer-assign-label">Enrolments:</label>
    <div class="detail-row">{{data.class.enrolments}}</div>
    <label class="lecturer-assign-label">Status:</label>
    <div class="detail-row">{{data.class.status}}</div>
    <label class="lecturer-assign-label">Tutor:</label>
    <div class="detail-row">{{data.class.tutorName}}</div>
    <div class="detail-row" *ngIf="data.class.tutor==''">Unassigned</div>
    <label class="lecturer-assign-label">Tutor Email:</label>
    <div class="detail-row">{{data.class.tutor}}</div>
    <div class="detail-row" *ngIf="data.class.tutor==''">Unassigned</div>

    <div class="header-2">Accepted Tutors</div>
    Click to highlight a tutor, then assign them to the class,<br>
    or highlight the exisiting tutor and unsassign them.
    <table mat-table [dataSource]="dataSource" class="table-actual" matSort [hidden]="data.acceptedTutors.length==0">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="class-cell"> Name </th>
            <td mat-cell *matCellDef="let tutor" class="left-cell"> {{tutor.name}} </td>
        </ng-container>
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="class-cell"> Time Preferences </th>
            <td mat-cell *matCellDef="let tutor" class="right-cell"> {{tutor.timePref}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
            [ngClass]="{'highlight': selectedRowIndex == i}" (click)="selectTutor(row, i)"></tr>
    </table>
    <div class="btn-group">
        <button [ngClass]="selectedRowIndex!=-1 && selectedRowIndex==existingTutor ? 'btn-unassign' : 'btn-unassign-disabled'"
        (click)="unassign()" mat-dialog-close>
            UNASSIGN
        </button>
        <button [ngClass]="selectedRowIndex!=-1 && selectedRowIndex!=existingTutor ? 'btn-assign' : 'btn-assign-disabled'"
        (click)="assign()" mat-dialog-close>
            ASSIGN
        </button>
    </div>
</div>