.lecturer-home {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index: 0;
    background-color: rgb(154, 212, 203);
    padding-top: 50px;
}

.lecturer-home .container {
    padding: 40px 60px;
}

.lecturer-home .header {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    width: 100%;
    border-bottom: 2px solid rgb(178, 226, 219);
}

.lecturer-home .table-actual {
    width: 100%;
    background-color: rgb(154, 212, 203);
}

.lecturer-home .mat-header-row {
    height: 30px;
}
.lecturer-home .mat-cell {
    font-size: 16px;
}
.lecturer-home .mat-header-cell {
    color: white;
    font-size: 18px;
    border-bottom: 2px solid white;
}

.lecturer-home .mat-row:nth-child(odd){
    background-color: rgb(170, 230, 224);
}
.lecturer-home .mat-row:nth-child(even){
    background-color: rgb(114, 214, 204);
}
.lecturer-home .mat-row:hover {
    outline: 1px solid white;
}

.lecturer-home .notification {
    color: red !important;
}