<div class="lecturer-course">
    <div class="container">
        <div class="header">
            {{course}}
        </div>
        <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
            <mat-tab label="Applications">
                Applications
            </mat-tab>
            <mat-tab label="Classes">
                <div *ngFor="let class of classes">
                    Type: {{class.type}}<br>
                    Session: {{class.session}}<br>
                    ID: {{class.id}}<br>
                    Status: {{class.status}}<br>
                    Enrolments: {{class.enrolments}}<br>
                    Details: {{class.details}}<br><br>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>