@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgb(154, 212, 203);
}

.snackbar-red {
    color: white;
    background-color: rgb(255, 100, 100);
}

.snackbar-green {
    color: white;
    background-color: rgb(100, 190, 100);
}

.snackbar-red, .snackbar-green .mat-simple-snackbar {
    justify-content: center;
}