.upload .dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row; 
    height: 80px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    color: black;
}
.upload .dropzone:hover {
    border: 2px solid #f16624;
    opacity: 0.8;
}

.upload .upload1, .upload2, .progress, .byte-progress {
    display: inline;
}

.upload progress::-webkit-progress-value {
    transition: width 0.1s ease;
}