<div class="upload">
    <div *ngIf="showDropzone" class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
        <span class="upload1">Drag and drop a file here or &nbsp;</span>
        <span class="upload2"><input class="file-input" type="file" (change)="startUpload($event.target.files)"></span>
    </div>

    <div class="status">
        <div *ngIf="percentage | async as pct" class="progress">
            <progress class="progress is-info" [value]="pct" max="100"> </progress>
            {{ pct | number }}%&nbsp;&nbsp;
        </div>
        <span *ngIf="snapshot | async as snap" class="byte-progress">
            {{ snap.bytesTransferred }} of {{ snap.totalBytes }} bytes<br>
            <span *ngIf="downloadURL | async as url">'{{fileName}}' successfully uploaded {{downloadUrl}}</span>
        </span>
    </div>
</div>