<div class="tutor-home">
    <div class="container">
        <div class="header">
            My Classes
        </div>
        <div class="header">
            My Applications
        </div>
        <table mat-table [dataSource]="dataSource" class="table-actual" matSort>
            <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
                <td mat-cell *matCellDef="let application"> {{application.course}} </td>
            </ng-container>
            <ng-container matColumnDef="lic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LiC </th>
                <td mat-cell *matCellDef="let application"> {{application.lecturerName}} </td>
            </ng-container>
            <ng-container matColumnDef="licemail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LiC Email </th>
                <td mat-cell *matCellDef="let application"> {{application.lecturer}} </td>
            </ng-container>
            <ng-container matColumnDef="inttime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Time </th>
                <td mat-cell *matCellDef="let application"> {{application.interview}} </td>
            </ng-container>
            <ng-container matColumnDef="intstatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Status </th>
                <td mat-cell *matCellDef="let application"> {{application.interviewStatus | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Application Status </th>
                <td mat-cell *matCellDef="let application"> {{application.status | titlecase}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    tutor login successful
    <button (click)="logout()">Log out</button>
</div>