<div class="tutor-home">
    <div class="container">
        <div class="header">
            My Classes
        </div>
        <div *ngIf="!classes">
            Fetching data... 
        </div>
        <div *ngIf="classes">
            <div *ngIf="classes.length==0">
                You do not have any assigned classes. Go <a href="" routerLink='/trout/apply'>apply</a> now!
            </div>
        </div>
        <table mat-table [dataSource]="classDataSource" class="table-actual" matSort #sortClasses="matSort" [hidden]="checkClassesLength()">
            <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
                <td mat-cell *matCellDef="let class"> {{class.course}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Type </th>
                <td mat-cell *matCellDef="let class"> {{class.type}} </td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time/Location </th>
                <td mat-cell *matCellDef="let class"> {{class.details}} </td>
            </ng-container>
            <ng-container matColumnDef="lic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LiC </th>
                <td mat-cell *matCellDef="let class"> {{class.lecturerName}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="classColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: classColumns;"></tr>
        </table>

        <br><br>
        <div class="header">
            My Applications
        </div>
        <div *ngIf="!applications">
            Fetching data...
        </div>
        <div *ngIf="applications">
            <div *ngIf="applications.length==0">
                You do not have any active applications. Go <a href="" routerLink='/trout/apply'>apply</a> now!
            </div>
        </div>
        <table mat-table [dataSource]="applicationDataSource" class="table-actual" matSort #sortApplications="matSort" [hidden]="checkApplicationsLength()">
            <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
                <td mat-cell *matCellDef="let application"> {{application.course}} </td>
            </ng-container>
            <ng-container matColumnDef="lic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LiC </th>
                <td mat-cell *matCellDef="let application"> {{application.lecturerName}} </td>
            </ng-container>
            <ng-container matColumnDef="licemail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> LiC Email </th>
                <td mat-cell *matCellDef="let application"> {{application.lecturer}} </td>
            </ng-container>
            <ng-container matColumnDef="inttime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Time </th>
                <td mat-cell *matCellDef="let application"> {{application.interview}} </td>
            </ng-container>
            <ng-container matColumnDef="intstatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Interview Status </th>
                <td mat-cell *matCellDef="let application"> {{application.interviewStatus | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Application Status </th>
                <td mat-cell *matCellDef="let application"> {{application.status | titlecase}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="applicationColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: applicationColumns;"></tr>
        </table>
    </div>
</div>