.tutor-home {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    z-index: 0;
    background-color: rgb(154, 212, 203);
    padding-top: 50px;
}

.tutor-home .container {
    padding: 40px 60px;
}

.tutor-home .header {
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    color: white;
    width: 100%;
    border-bottom: 2px solid rgb(178, 226, 219);
}